@model Entities.Concrete.BlogCategory
<div class="modal-dialog">
    <div class="modal-content animated fadeIn">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Adding New Blog Category</h4>
        </div>
        @using (Html.BeginForm("Add", "BlogCategory", FormMethod.Post, new { @class = "m-t", area = "Admin" }))
        {
            <div class="modal-body">
                <div class="form-group  row">
                    <label class=" col-form-label">Blog Category Name Tr</label>
                     @Html.TextBoxFor(m => m.CategoryNameTr, new { @class = "form-control" })

                </div>
                <div class="form-group  row">
                    <label class="col-form-label">Blog Category Name En</label>
                     @Html.TextBoxFor(m => m.CategoryNameEn, new { @class = "form-control" })

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        }

    </div>
</div>