<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Dashboard v.4</title>

    <link href="~/flatlab/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/flatlab/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/flatlab/css/animate.css" rel="stylesheet">
    <link href="~/flatlab/css/style.css" rel="stylesheet">

</head>

<body class="top-navigation">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
                    <!--<div class="navbar-header">-->
                    <!--<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">-->
                    <!--<i class="fa fa-reorder"></i>-->
                    <!--</button>-->

                    <a href="#" class="navbar-brand">Inspinia</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-reorder"></i>
                    </button>

                    <!--</div>-->
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="active">
                                <a aria-expanded="false" role="button" href="layouts.html">Blog</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                <div class="container">
                    @RenderBody()
                </div>

            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> Ramazan Halid &copy; 2020-@DateTime.Now.Year
                </div>
            </div>
        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="~/flatlab/js/jquery-3.1.1.min.js"></script>
    <script src="~/flatlab/js/popper.min.js"></script>
    <script src="~/flatlab/js/bootstrap.js"></script>
    <script src="~/flatlab/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/flatlab/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/flatlab/js/inspinia.js"></script>
    <script src="~/flatlab/js/plugins/pace/pace.min.js"></script>

    <!-- Flot -->
    <script src="~/flatlab/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/flatlab/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/flatlab/js/plugins/flot/jquery.flot.resize.js"></script>

    <!-- ChartJS-->
    <script src="~/flatlab/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Peity -->
    <script src="~/flatlab/js/plugins/peity/jquery.peity.min.js"></script>
    <!-- Peity demo -->
    <script src="~/flatlab/js/demo/peity-demo.js"></script>

</body>

</html>
