@model Core.Entities.Concrete.User
<a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <span class="block m-t-xs font-bold">@Model.FirstName  @Model.LastName</span>
    <span class="text-muted text-xs block">@Model.Title <b class="caret"></b></span>
</a>